name: CI CodeCov

on:
  # GitHub has started calling new repo's first branch "main" https://github.com/github/renaming
  # Existing codes likely still have "master" as the primary branch
  # Both are tracked here to keep legacy and new codes working

  # push:
  #   branches:
  #     - "master"
  #     - "main"

  pull_request:
    branches:
      - "master"
      - "main"
  schedule:
    # Nightly tests run on master by default:
    # Scheduled workflows run on the latest commit on the default or base branch.
    # (from https://help.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule)
    - cron: "0 0 * * *"

jobs:
  test:
    name: Test on ${{ matrix.os }}, Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.11"]

    steps:
    - uses: actions/checkout@v4
    - name: Additional info about the build
      shell: bash
      run: |
        uname -a
        df -h
        ulimit -a

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64

    - name: Install dependencies
      shell: bash
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements_dev.txt
        python -m pip install -U pytest pytest-cov codecov

    - name: Install package
      shell: bash
      run: |
        python -m pip install .
        # pip install tox tox-gh-actions

    - name: Run tests
      shell: bash
      run: |
        python -m pytest -c pyproject.toml --cov-config=.coveragerc --cov-report=xml --color=yes procrustes

    - name: CodeCov
      uses: codecov/codecov-action@v4.5.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        # Temp fix for https://github.com/codecov/codecov-action/issues/1487
        version: v0.6.0
        fail_ci_if_error: true
        file: ./coverage.xml
        flags: unittests
        name: codecov-${{ matrix.os }}-py${{ matrix.python-version }}
